body {
    body {
        padding: 0;
        margin: 0;
    }
    
    form {
        font-family: Verdana,Tahoma,sans-serif;
        font-size: 15px;
        background-color: #CC3300;
        max-width: 500px;
    }
    
    h1 {
        margin-bottom: 20px;
        margin-left: 20px;
        color: #66FFFF;
        text-shadow: 5px 5px 5px black;
    }
    
    input, textarea {
        width: 200px;
        padding: 10px;
        color: black;
        margin-left: 20px;
        margin-top: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid;
    }
    
    input:hover, textarea:hover, input:focus, textarea:focus {
        border-color: #000066;
        box-shadow: 5px 0px 9px #FFFF00;
        background-color: #66FFFF;
        color: black;
        font-weight: bold;
    }
    
    .enviar {
        background-color: #66FFFF;
        height: 40px;
        width: 100px;
        font-weight: bold;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid;
        color: rgb(226, 10, 10);
    }
    
    textarea {
        width: 400px;
        height: 120px;
        line-height: 20px;
        max-width: 400px;
    }
    
    form label {
        margin-left: 20px;
        color: #FFFFFF;
        font-weight: bold;
    }
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); 
    background-color: #f30885; 
}

.caixa {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
}

.caixa:hover {
    background-color: #f0f0f0;
}

.caixa.full-width {
    width: calc(100% - 20px);
}

.icon-calendario {
    right: 10px;
}



.icon-pessoa {
    left: 10px; 
}

input[type="text"] {
    border: none;
    width: calc(100% - 30px); 
}

#search-button {
    background-color: pink; 
    color: rgb(236, 24, 24);
    text-transform: uppercase; 
    padding: 10px 30px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 20px;
}

#search-button:hover {
    background-color: #ff80bf; 
}

#btn-cadastro, #btn-login {
    background-color: pink; 
    color: white; 
    padding: 8px 16px;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin-top: 10px; 
}

#btn-cadastro:hover, #btn-login:hover {
    background-color: #e71e61; 
}


#btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btn-container button {
    margin: 0 5px; /* Adjust margin between buttons */
}

#imagem-central {
    text-align: center;
    margin-top: 60px;
    width: 100%; 
    max-width: 800px; 
    height: auto; 
}

#imagem-central img {
    max-width: 80%;
    max-height: 80%;
}

#texto-canto-superior-esquerdo {
    position: absolute; 
    top: 10px;
    left: 50px; 
    color: #ff007f; 
    font-size: 20px; 
    font-weight: bold; 
}
